gravityforms
gravityformsuserregistration
wp-email-login
sitepress-multilingual-cms
wpml-cms-nav
wpml-string-translation
wpml-translation-management

wordpress-importer
membership
wp-cfm
user-switching